{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "next"],
  "rules": {
    "prettier/prettier": "error",
    "next/no-unimported-component": "error",
    "next/no-unused-css": "error"
  }
}
